body{
    background-color: darkseagreen;
    color: beige;

    letter-spacing: 1px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
}
div{
    width: 100px;
    margin: 100px auto 0;
}
img{
    width: 100%;

    /* transform: rotate(-180deg); */
    /* transform: rotateY(180deg); */
    /* transform: rotateZ(45deg); */

    /* transform: translateX(200%); */
    /* transform: translateX(-200%); */
    
    /* transform: translateY(200%); */
    /* transform: translateY(-200%); */
    
    /* transform: translate(200%); */
    /* transform: translate(-100%); */
    /* transform: translate(200%, -100%); */

    /* transform: scale(.3); */
    /* transform: scale(.3, .6); */
    
    /* transform: scale(2) translate(-100%) rotateZ(-45deg); */
    
    
    /* :Control the order with transform */

    /* transform: translate(-100%) scale(2) rotateZ(-45deg); */
    /* scale: 2;
    translate: -100%;
    rotate: z -45deg; */

    /* rotate: x 45deg; */
    /* rotate: y 45deg; */
    /* rotate: z 45deg; */

    /* scale: 3; */
    /* scale: 1.3 .6; */
}